{%extends 'core/base.html' %}

{%block content%}
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Hola, estás ingresando como {{user.username}}!</h5>
            <p class="card-subtitle">¿Deseas seguir con esta cuenta o con otra credencial?</p>
            <a href={% url 'home2' %} class="card-link">Continuar como {{user.username}}</a>
            <a class="float-end" href={% url 'exit' %} class="card-link">Otra credencial</a>
        </div>
    </div>
    
{% endblock%}